*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    min-height: 100%;
    display: grid;
    justify-items: center;
    background-color: rgba(149, 139, 139, 0.264);
    /*background-color: #0c0b0b;
    background-image: url(./images/kryboasrd.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
}
/*body::after{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    background: rgba(9, 4, 0, 0.839);
    width: 100%;
    min-height: 100%;
    z-index: -1;
}*/
#body-main{
    margin: 0%;
    padding: 0%;
    width: 80%;
    height: 100%;
    /*background-color: #ff000054;*/
    box-sizing: border-box;

    
}

header{
    background-color: rgba(255, 255, 255, 0.79);
    justify-items: center;
    position:sticky;
    top: 0;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    z-index: 1000;
}

ul{
    position: absolute;
    top: 0%;
    padding-top: 10px;
    left: 70%;
    visibility: visible;
}
h2{
    justify-self: flex-start;    
    padding-top: 14px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    
}
li{
    list-style: none;
    display: inline;
    padding: 6px;
    font-family:sans-serif;
    font-size: 12px;
    
}
li :hover{
    text-decoration: underline;
    transition: ease-out 3m;
    font-size: 11px;
    cursor: pointer;
    font-weight: bold;
    
}
a{
    text-decoration: none;
    color: black;
}
 .hamburger{
    position: absolute;
    top: 0%;
    display: none;
}
header button{
    position: absolute;
    top: 0%;
    right: 0%;
    top: 5px;
    right: 20px;
    border: none;
    background-color: #000000;
    width: 70px;
    height: 25px;
    border-radius: 5px;
    color: white;
}
header button:hover{
    box-shadow: black 2px 2px 5px;
    transition: ease-in-out 0.5s;
}
.Discover{
    text-align: center;
    position: relative;
   /* background-color: #ff0000;*/
}
.videoCont{
    position:relative;
    display: inline;
    padding-top: 20px;
}
.videoCont h3{
    position: absolute;
    top: 40%;
    left: -120px;
    font-family: 'poppins', sans-serif;
    font-size: 30px;
    opacity: 0.1;
    display: inline;
}
#secondsec{
    background-color: rgb(255, 255, 255);
    display: grid;
    justify-items: center;
    min-height: 500px;
    overflow: hidden;
    padding: 3%;    
    overflow-y: hidden;
    overflow-x: scroll;
    
    
}
#secondsec::-webkit-scrollbar{
    display: none;
}
.play{
    position: absolute;
    top: 0%;
    top: 30%;
    left: 50%;
    font-size: 30px;
    color: #ffffffdb;
    text-align: center;
    padding-top: 13px;
    padding-left: 5px;
    height: 60px;
    width: 60px;
    background-color: #00000087;
    border-radius: 50px ;
    display: none;
}

#secondsec h2{
    display: flex;
    z-index: 1;
}
#muc{
    position: absolute;
    left: 15%;
}
#secondsec .container{
    width: 140px;
    height: 140px;
    border: none;
    position: relative;
    border-radius: 5px;
    top: 90px;
}
.container img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    overflow: hidden;
    border-radius: 5px;
}


.image :hover{
    box-shadow: 2px 1px 5px;
    transition: ease-out 500ms;
    width: 120px;
    
}
#secondsec .text{
    position: absolute;
    top: 140px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgba(0, 0, 0, 0.744);
    text-align: left;
    padding-left: 5px;
    height: auto;
}
.text2{
    font-size: 10px;
}
.flex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    
}
.medialine{
    background-color: rgb(201, 201, 201);
    width: 7rem;
    height: 10px;
    border-radius: 2px ;
    position: absolute;
    left: 5%; 
    bottom: -15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
.medialine hr{
    position: absolute;
    top: 0%;
    left: 0%;
    left: 12%;
    top: 35%;
    width: 85%;
    height: 30%;
    border-radius: 15px;

}
.medialine .line{
    width: 50%;
    border-color: rgb(0, 0, 0);
    background-color: black;

}

.medialine i{
    display: inline;
    position: absolute;
    left: 0%;
}
.medialine .playbutton{
    position: absolute;
    left: 0%;
    top: 1.5px;
    font-size: 8px;
    color: #000000c2;
}
/*.playbutton .fa-pause{
    display: none;
}*/
.outside{
    border: none rgba(149, 139, 139, 0.264) 1px;
    height: 4px;
}
footer{
    background: linear-gradient(to right, #505050, #000000);
    height: 120px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 5px;
    padding: 40px 0px 0px 0px;
    font-size: 20px;
    color: #000;
  
}
.foot i{
    position: relative;
    top: 8px;
    padding: 14px;
    font-size: 18px;
    opacity: 0.3 ;
    display: none;
}
.foot p{
    position: absolute;
    bottom: 0;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20px;
    opacity: 0.3 ;
    color: #fff;
    text-shadow: #000 2px 2px 5px;
}

#upDelbtn{
    position: absolute;
    top: 190px;
    margin-left: 5px;
    font-size: 1px;
    width: 150px;
    display: flex;
    justify-content: flex-start;
}


#upDelbtn button{
    font-family: sans-serif;
    padding: 2px;
    color: rgba(239, 236, 236, 0.859);
    background-color: #347595b6;
    border: none;
    border-radius: 7px;
    width: 70px;
    margin: 2px;
    visibility: hidden;  
    position: relative;
    left: 10%;
}
#upDelbtn button:hover{
    transition: ease-in-out 0.3s;
    background-color: #ff6a00b6;


}

.Up:hover{
    transition: ease-in-out 0.2s;
    box-shadow: #000 2px  2px 5px;
    cursor: pointer;
    
}
.Del:hover{
    transition: ease-in-out 0.2s;
    box-shadow: #000 2px  2px 5px;
    cursor: pointer;
}

 #parentModal {
    color: #fff;
    /*background-color: #000000db;*/
    background-image: url(./images/cover1.jpg);
    width: 200px;
    max-height: 200px;
    display: none;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: 8rem;
    font-size: 12px;
    text-align: left;
    border-radius: 8px;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    line-height: 23px;
    
 }
 #parentModal.show {
    display: block;
    opacity: 1;
    transform: translateY(20px);
    pointer-events: auto;
 }
 #parentModal.show:hover{
    transition: ease-in-out 0.3s;
    box-shadow: #000 2px 2px 10px 1px;
 }
 .modal h4{
    text-align: center;
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

#uploadForm{
    /*background-color: blue;*/
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 7px;
    text-align: left;
    line-height: 25px;
    
}
label{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9px;
}
.space{
    width: 100%;
    height: 3px;
}
.spaceart{
    height: 2px;
}
.input{
    border:  none;
    outline: none;
    border-radius: 10px;
    background-color: rgba(239, 236, 236, 0.742);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px;
    height: 16px;
    font-size: 8px;
    width: 70%;
}
.but{
    border-radius: 5px;
    background-color: rgba(66, 62, 62, 0.483);
    font-size: 6px;
    border: none;
}
.submit{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    border-radius: 7px;
    font-size: 10px;
    width: 100px;
    position: relative;
    left: 50px;
    background-color: rgba(239, 236, 236, 0.742);
    color: #000;
}
.submit:hover{
    transition: ease-in-out 0.5s;
    background-color: rgb(93, 93, 98);
    box-shadow: #000 2px 2px 8px ;
    color: #fff;
}

.close{
    border: none;
    border-radius: 1px;
    background-color: red;
    width: 25px;
    position: absolute;
    right: 0%;
    top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 11px;
}
.close:hover{
    transition: ease-in-out 0.5s;
    box-shadow: #ff0000 -2px 2px 8px ;
}
#card{
    background-image: url(./images/cover1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 220px;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    box-shadow: #000 2px 2px 7px;
    
    

}
.cardLine{
    position: relative;
    top: 50%;
    left: 53%;
    width: 45%;
    height: 5px;
    background-color: #cbc2c2;
    border: none;
    border-radius: 10px;
}
.cardLine2{
    position: relative;
    top: 45%;
    left: 53%;
    width: 29%;
    height: 5px;
    background-color: #000000;
    border-radius: 10px;
    
    
}
.circle1{
    background-color: #000;
    width: 100px;
    height: 100px;
    position: relative;
    left: 3px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    box-shadow: #e3a004ae 2px 2px 8px;
    animation: spin 4s linear infinite;
}
.circle2{
    background: linear-gradient(to right, #000000, rgb(119, 105, 0)) ;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: 35%;
    animation: spin 4s linear infinite;

}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.nowplaying{
    position: absolute;
    left: 7rem;
    top: 10px;
    color: #efedebc8;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    height: 80%;
    overflow: hidden;
}
.nowplaying h5{
    font-size: 10px;
}
.nowplaying h6{
    position: relative;
    top: 4%;
    left: 8%;
    color: #f5f3f0c8;
    text-shadow: #070606 2px 0px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 11px;
    display: flex;
    justify-content: center;
}
#Nowcover{
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
#muc{
    position: absolute;
}
#Nowartist{
    position: relative;
    top: 7px;
    display: flex;
    justify-content: center;
    height: 15px;
    width: 70px;
}
.wave{
    width: 100%;
    position: absolute;
    bottom: 7rem;
    margin-bottom: 7.4px;


}
.wave path{ 
    fill: url(#waveGradient);
    animation: waveFlow 4s ease-in-out infinite alternate;
}
@keyframes waveFlow {
    0%{
        d: path("M0,30 C150,60 350,0 500,30 L500,50 L0,50 Z");
    }
    100%{
        d: path("M0,30 C150,20 350,60 500,15 L500,50 L0,50 Z");
    }
}
@media (max-width: 480px){
    #body-main{
        position: absolute;
        width: 100%;
        
    }

    .Upload{
        display: none;
    }

    .hamburger{
        display: block;
        padding-top: 15px;
        margin-left: 180px;
        font-size: 15px;
        color: #fff;
    }
    .hamburger :hover{
        transition: ease-in-out 22ms;
        background-color: #636462a1;
        border-radius: 3px;
        box-shadow: black 2px 2px 5px;
        width: 20px;
        height: 17px;
    }

    ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        right: 50px;
        top: 14px;
        left: 8rem;
        background-color: #e6dbdbb5;
        width: 80px;
        height: 70px;
        visibility: hidden;
        box-shadow: #000 2px 2px 6px;
        border-radius: 2px;

    }
    ul :hover{
        transition: ease-in-out 3ms;
        background-color: #ffffffbd;
        color: rgba(0, 0, 0, 0.715);
        list-style: none;
        border-radius: 3px;
        height: 20px;
        
    }
    a{
        text-decoration: none;
    }
    
    li{
        font-size: 10px;  
        
        
    }
    li :hover{
        text-decoration: none;
        
        
    }
    
    
   .header h2{
        font-size: 10px;
        color: #ffffffef;

    }
    header{
        background-color: #000000b6;
    }

    .flex{
        position: relative;
        

    }

    #secondsec{
        min-height: 57%;
    }
    
    #About{
        height: 20px;

    }
    #card{
        position: absolute;
        top: 5px;
        width: 180px;
        height:73px;
        
    }
    .circle1{
        width: 80px;
        height: 80px;
        
    }
    .circle2{
        width: 25px;
        height: 25px;
    }
    .nowplaying{
        position: absolute;
        left: 90px;
        font-size: 5px;
    }
    .cardLine{
        position: relative;
        top: 45px;
        height: 2px;
    }
    .cardLine2{
        position: relative;
        top: 59%;
        height: 2px;

    }
    #Nowcover{
    position: absolute;
    top: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;

}
    #Nowartist{
        position: absolute;
        top: 28px;
        left: 5px;
        font-size: 9px;
        display: flex;
        justify-content: flex-start;
        height: 10px;
        min-width: 200px;


    }
    #muc{
        position: absolute;
        left: 5%;
    }
    footer{
        height: 100px;
        /*background-color: #5252528d;*/
    }
    #secondsec .text{
        font-size: 10px;
        width: 85%;
        padding-top: 5px;
         
    }
    .text2{
        font-size: 9px;
    }
    .Up{
        display: none;

    }
    .wave{
        position: relative;        
        bottom: 80px;
    }
    .nowplaying h5{
        position: absolute;
        font-size: 9px;
        width: 100px;
    }
    .nowplaying h6{
        position: relative;
        top: 15px;
        left: -10px;
        width: 100px;
        font-size: 8px;
    }
    
    
}
